---
apiVersion: kubevirt.io/v1
kind: VirtualMachine
metadata:
  name: {{ vm.vm_name }}
  namespace: {{ vm_namespace }}
  annotations:
    cmdb: "{{ cmdb_uuid }}"
  labels:
    app: {{ vm.vm_name }}
    kubevirt.io/dynamic-credentials-support: "true"
spec:
  runStrategy: {{ runStrategy }}
{% if vm.instance_type is defined %}
  instancetype:
    name: {{ vm.instance_type.name }}
    kind: {{ vm.instance_type.kind | default(virtualMachineClusterInstancetype) }}
{% endif %}
{% if vm.preference is defined %}
  preference:
    name: {{ vm.preference.name }}
    kind: {{ vm.preference.kind | default(virtualMachinePreference) }}
{% endif %}
  dataVolumeTemplates:
    - metadata:
        name: {{ vm.vm_name }}
      spec:
        sourceRef:
          kind: DataSource
          name: {{ vm.os_images_template }}
          namespace: {{ vm.os_images_project }}
        storage:
          resources:
            requests:
              storage: {{ vm.storage_size }}
  template:
    metadata:
      labels:
        app: {{ vm.vm_name }}
        kubevirt.io/dynamic-credentials-support: "true"
    spec:
      domain:
{% if vm.instance_type is not defined %}
        cpu:
          cores: {{ vm.cpu_cores }}
          sockets: {{ vm.cpu_sockets }}
          threads: {{ vm.cpu_threads }}
        memory:
          guest: {{ vm.memory_size }}
{% endif %}
        devices:
          disks:
            - disk:
                bus: virtio
              name: rootdisk
            - disk:
                bus: virtio
              name: cloudinitdisk
          interfaces:
            - masquerade: {}
              model: virtio
              name: {{ vm.network_interface1_name }}
      networks:
        - name: {{ vm.network_interface1_name }}
          pod: {}
      terminationGracePeriodSeconds: 180
      volumes:
        - dataVolume:
            name: {{ vm.vm_name }}
          name: rootdisk
        - cloudInitNoCloud:
            userData: |
              #cloud-config
              user: cloud-user
              password: {{ vm.cloud_init_password }}
              chpasswd: { expire: False }
          name: cloudinitdisk
