---
apiVersion: kubevirt.io/v1
kind: VirtualMachine
metadata:
  name: {{ vm.vm_name }}
  namespace: {{ vm_namespace }}
  annotations:
    cmdb: {{ cmdb_uuid }}
    vm.kubevirt.io/flavor: {{ vm.os_images_flavor }}
    vm.kubevirt.io/os: {{ vm.os_images_template }}
    vm.kubevirt.io/workload: {{ vm.os_images_workload }}
  labels:
    app: {{ vm.vm_name }}
    kubevirt.io/dynamic-credentials-support: "true"
    vm.kubevirt.io/template: {{ vm.os_images_template }}-{{ vm.os_images_workload }}-{{ vm.os_images_flavor }}
    vm.kubevirt.io/template.namespace: {{ vm.os_images_template_namespace }}
    vm.kubevirt.io/template.revision: "{{ vm.os_images_template_revision }}"
    vm.kubevirt.io/template.version: {{ vm.os_images_template_version }}
spec:
  running: {{ vm.running | default(true) | bool }}
  dataVolumeTemplates:
    - metadata:
        name: {{ vm.vm_name }}
      spec:
        sourceRef:
          kind: DataSource
          name: {{ vm.os_images_template }}
          namespace: {{ vm.os_images_project }}
        storage:
          resources:
            requests:
              storage: {{ vm.storage_size }}
  template:
    metadata:
      annotations:
        vm.kubevirt.io/flavor: {{ vm.os_images_flavor }}
        vm.kubevirt.io/os: {{ vm.os_images_template }}
        vm.kubevirt.io/workload: {{ vm.os_images_workload }}
      labels:
        app: {{ vm.vm_name }}
        kubevirt.io/dynamic-credentials-support: "true"
        vm.kubevirt.io/template: {{ vm.os_images_template }}-{{ vm.os_images_workload }}-{{ vm.os_images_flavor }}
        vm.kubevirt.io/template.namespace: {{ vm.os_images_template_namespace }}
        vm.kubevirt.io/template.revision: "{{ vm.os_images_template_revision }}"
        vm.kubevirt.io/template.version: {{ vm.os_images_template_version }}
    spec:
      domain:
        cpu:
          cores: {{ vm.cpu_cores }}
          sockets: {{ vm.cpu_sockets }}
          threads: {{ vm.cpu_threads }}
        devices:
          disks:
            - disk:
                bus: virtio
              name: rootdisk
            - disk:
                bus: virtio
              name: cloudinitdisk
          interfaces:
            - masquerade: {}
              model: virtio
              name: {{ vm.network_interface1_name }}
        memory:
          guest: {{ vm.memory_size }}
      networks:
        - name: {{ vm.network_interface1_name }}
          pod: {}
      terminationGracePeriodSeconds: 180
      volumes:
        - dataVolume:
            name: {{ vm.vm_name }}
          name: rootdisk
        - cloudInitNoCloud:
            userData: |
              #cloud-config
              user: cloud-user
              password: {{ vm.cloud_init_password }}
              chpasswd: { expire: False }
          name: cloudinitdisk
